In [1]:
import os
import pandas as pd

In [2]:
# load dataset
path = '../data/cleanpenelopedict.json'
penelope = pd.read_json(path)
penelope.head()

,category,rpt_name,field_name,data_type,notes
0,Service Views,rpt.service,service_id,integer,
1,Service Views,rpt.service,service_name,character varying(80),
2,Service Views,rpt.service,service_type_id,integer,
3,Service Views,rpt.service,service_type,character varying(20),None
4,Service Views,rpt.service_profile,service_id,integer,References service_id in rpt.service

In [56]:
# load relevant tables
path = '../data/relevant_tables.csv'
relevant_tbl = pd.read_csv(path)
relevant_tbl.iloc[:,0] = relevant_tbl.iloc[:,0].str.strip()
relevant_tbl.head()

                    rpt_name
0               rpt.bluebook
1              rpt.case_file
2      rpt.case_file_profile
3  rpt.case_file_individuals
4    rpt.case_file_referrals

In [57]:
# select only relevant tables from penelope df
sjpc_pnlp = penelope.merge(relevant_tbl, on='rpt_name')
sjpc = penelope[penelope['rpt_name'].isin(sjpc_pnlp['rpt_name'])]
sjpc.head()

,category,rpt_name,field_name,data_type,notes
0,Service Views,rpt.service,service_id,integer,
1,Service Views,rpt.service,service_name,character varying(80),
2,Service Views,rpt.service,service_type_id,integer,
3,Service Views,rpt.service,service_type,character varying(20),None
4,Service Views,rpt.service_profile,service_id,integer,References service_id in rpt.service

In [58]:
# sanity check
len(sjpc.rpt_name.unique())

44

In [60]:
sjpc.shape

(393, 5)